{:duct.core/project-ns  nluserv
 :duct.core/environment :production


 [:nluserv/config :nluserv.handler.train/train-config] {:tools [#ig/ref :clj-duckling.tool/duckling,
                                                                #ig/ref :nluserv.tool.entity/category
                                                                #ig/ref :nluserv.tool.entity/brand
                                                                #ig/ref :nlptools.tool/classification,
                                                                #ig/ref :nlptools.tool/stopwords,
                                                                #ig/ref :nlptools.tool/stemmer]
                                                        :models [#ig/ref :clj-duckling.model/classifier
                                                                 #ig/ref :nluserv.model.entity/category
                                                                 #ig/ref :nluserv.model.entity/brand
                                                                 #ig/ref :nlptools.model/classification]
                                                        :corpora [#ig/ref :clj-duckling.corpus/edn
                                                                  #ig/ref :nlptools.corpus/intent]}
 :nluserv.handler.train/train {}
 :nluserv.handler.train/test-train {:config #ig/ref :nluserv.handler.train/train-config}



 :clj-duckling.model/classifier {:id "duck-classifier"
                                 :language "ro"
                                 :binfile #ig/ref :nluserv.duck/classifier
                                 :loadbin? true
                                 :corpus #ig/ref :clj-duckling.corpus/edn
                                 :rules #ig/ref :clj-duckling.engine/edn
                                 :logger   #ig/ref :duct.logger/timbre}

 [:nluserv.config/absfilename :nluserv.duck/classifier] {:filename "classifier.bin"
                                                   :path  #duct/env ["TRAIN_DIR" :or "train"]}


 :clj-duckling.corpus/edn {:id "duck-corpus-edn"
                           :language "ro"
                           :dirpath  #ig/ref :nluserv.duck/corpusdir
                           :logger   #ig/ref :duct.logger/timbre}

 [:nluserv.config/absfilename :nluserv.duck/corpusdir] {:filename "ro/corpus"
                                                         :path  #duct/env ["TRAIN_DIR" :or "train"]}








 
 :nlptools.model/classification {:id "intent model"
                                 :binfile #ig/ref :nluserv/modelfile
                                 :loadbin? true
                                 :language "ro"
                                 :trainfile #ig/ref :nluserv/trainfile
                                 :logger #ig/ref :duct.logger/timbre}

 :nlptools.corpus/intent {:id "intent corpus"
                          :db       #ig/ref :nlptools.module/mongo
                          :filepath  #ig/ref :nluserv/trainfile
                          :logger   #ig/ref :duct.logger/timbre}

 [:nluserv.config/absfilename :nluserv/modelfile] {:filename "ema.bin"
                                                   :path  #duct/env ["TRAIN_DIR" :or "train"]}

 [:nluserv.config/absfilename :nluserv/trainfile] {:filename "ema.train"
                                                   :path  #duct/env ["TRAIN_DIR" :or "train"]}


 :nlptools.module/mongo {:database-name "emastage"
                         :server-name   "gift-mongo1-ro-prod.emag.network"
                         :port-number   27017
                         :logger #ig/ref :duct/logger}

 }
